.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  margin: 100px 50px;
}

.cart-container {
  background: #ffe0b3;
}
.cart-container button{
  background-color: #FF9900;
  border: 0;
  padding: 10px 30px;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
}

@media screen and (max-width: 1040px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
